<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Game Page!</title>
    <script
      src="https://kit.fontawesome.com/2e7a6cc9a2.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="column is-12">
          <h1 class="title has-text-centered">Game Page</h1>
        </div>
      </div>
    </section>
    <!-- <section class="section"> -->
    <div class="container">
      <div class="column is-12">
        <div class="card has-text-centered" id="game-title">
          <strong>Counter Strike: GO</strong>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="column is-12">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">My Current Game</p>
            </header>
            <div class="card-content">
              <div class="content">
                <strong>Counter Strike: GO</strong><br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
              </div>
            </div>
            <hr />
            <div class="card-content">
              <div class="content">
                <strong>Invites Sent</strong><br /><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- </section> -->
  </body>
</html>
