<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3" id="user-icon-img">
          <img src="../images/phoenix.png" alt="phoenix" id="phoenix"></br>
          <div class="card has-text-centered" id="friend-rate">
            <span><strong>Gamer Rating:</strong></span></br>
            <i class="fas fa-star is-clickable is-focused sstar" id="ss1"></i>
            <i class="fas fa-star is-clickable is-focused sstar" id="ss2"></i>
            <i class="fas fa-star is-clickable is-focused sstar" id="ss3"></i>
            <i class="fas fa-star is-clickable is-focused sstar" id="ss4"></i>
            <i class="fas fa-star is-clickable is-focused sstar" id="ss5"></i>
          </div>
        </div>
        {{!-- <div class="card" id="friend-rate">
          <i class="fas fa-star is-clickable is-focused" id="s1"></i>
          <i class="fas fa-star is-clickable is-focused" id="s2"></i>
          <i class="fas fa-star is-clickable is-focused" id="s3"></i>
          <i class="fas fa-star is-clickable is-focused" id="s4"></i>
          <i class="fas fa-star is-clickable is-focused" id="s5"></i>
        </div> --}}
        <div class="column is-6">
          <div class="columns">
            <div class="column">

            </div>
            <div class="column">
              <img src="../images/logo.png" class="opaque mt-3 logo">
            </div>
            <div class="column">
            </div>
          </div>
          <div class="card has-text-centered opaque" id="friend-name">
            <strong> Phoenix22's Top Games</strong>
          </div>
        </div>
        <div class="column is-3">
          <div class="card has-text-centered" id="user-card">
            <div class="user-rep">
              <i class="fas fa-smile emoji" id="smile-icon"></i>
              <span><strong>User Rep Score:</strong></span>
            </div>
            <i class="fas fa-star is-focused" id="s1"></i>
            <i class="fas fa-star is-focused" id="s2"></i>
            <i class="fas fa-star is-focused" id="s3"></i>
            <i class="fas fa-star is-focused" id="s4"></i>
            <i class="fas fa-star is-focused" id="s5"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <article class="panel is-primary">
            <p class="panel-heading">
              Gamer Attributes
            </p></br>
            <i onclick="addone1()" class="fa fa-grin-squint-tears is-clickable" id="smiley"></i><span><strong
                id="emoji-font">Lol!</strong></span>
            <span><strong id="thisone1">33</strong></span>
            <hr />
            {{!-- <div class="panel-block"></div> --}}
            <i onclick="addone2()" class="fa fa-bullseye is-clickable" id="bullseye"></i><span><strong
                id="emoji-font">Pro
                Gamer</strong></span>
            <span><strong id="thisone2">64</strong></span>
            <hr />
            {{!-- <div class="panel-block"></div> --}}
            <i onclick="addone3()" class="fa fa-poop is-clickable" id="poop"></i><span><strong
                id="emoji-font">Cheater!</strong></span>
            <span><strong id="thisone3">24</strong></span>
            <hr />
            <i onclick="addone4()" class="fa fa-wine-bottle is-clickable" id="bottle"></i><span><strong
                id="emoji-font">G.U.I.</strong></span>
            <span><strong id="thisone4">15</strong></span>
            <hr />
            <i onclick="addone5()" class="fa fa-moon is-clickable" id="moon"></i><span><strong
                id="emoji-font">Nightowl</strong></span>
            <span><strong id="thisone5">46</strong></span>
            <hr />
            <i onclick="addone6()" class="fa fa-headphones is-clickable" id="headphone"></i><span><strong
                id="emoji-font">Talker</strong></span>
            <span><strong id="thisone6">37</strong></span>
            <hr />
            <!-- <div class="buttons"> -->
            <button class="button is-link" id="invitebutton"><strong>Invite to Play!</strong></button><br />
            <button class="button is-danger" id="removebutton"><strong>Remove From List!</strong></button>
          </article>

          <!-- </div> -->
        </div>
        <div class="column is-half">
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="fallguys">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="brawlhalla">
                <header class="card-header">
                  <p class="card-header-title has-text-red">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="yakuza">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="amongus">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="cyberpunk">
                <header class="card-header">
                  <p class="card-header-title has-text-red">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="destiny">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <a>
                <div class="card opaque is-clickable" id="csgo">
                  <header class="card-header">
                    <p class="card-header-title has-text-white">

                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">

                      </span>
                    </a>
                  </header>
                  <div class="card-content">
                    <div class="content">


                    </div>
                  </div>

                </div>
              </a>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="brawlhalla">
                <header class="card-header">
                  <p class="card-header-title has-text-red">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="phasmo">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="column is-2 solid">
          <article class="panel is-danger">
            <p class="panel-heading">
              Current Game
            </p>
            <h2 class="has-text-white">Invites Accepted</h2>
            <div class="panel-block">
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Tommy864</strong>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>BIGGGUNZZZ</strong>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <h2 class="has-text-white">Invites Accepted</h2>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Slayerrr</strong>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Bob_Johnson82</strong>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">

    $(document).ready(function () {
      $("#s1").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1").css("color", "yellow");
        $.post("/api/UpdateUserRating", {
          raterID: req.user.id,
          rating: 1
        }).then(function (data) {
          console.log("rated 1 star");
        })
      })
      $("#s2").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2").css("color", "yellow");
        $.post("/api/UpdateUserRating", {
          raterID: req.user.id,
          rating: 2
        }).then(function (data) {
          console.log("rated 2 star");
        })
      })
      $("#s3").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2, #s3").css("color", "yellow");
        $.post("/api/UpdateUserRating", {
          raterID: req.user.id,
          rating: 3
        }).then(function (data) {
          console.log("rated 3 star");
        })
      })
      $("#s4").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2, #s3, #s4").css("color", "yellow");
        $.post("/api/UpdateUserRating", {
          raterID: req.user.id,
          rating: 4
        }).then(function (data) {
          console.log("rated 4 star");
        })
      })
      $("#s5").click(function () {
        $(".fa-star").css("color", "black")
        $(".fa-star").css("color", "yellow");
        $.post("/api/UpdateUserRating", {
          raterID: req.user.id,
          rating: 5
        }).then(function (data) {
          console.log("rated 5 star");
        })
        $("#ss1").click(function () {
          $(".sstar").css("color", "black")
          $("#ss1").css("color", "yellow");
        })
        $("#ss2").click(function () {
          $(".sstar").css("color", "black")
          $("#ss1, #ss2").css("color", "yellow");
        })
        $("#ss3").click(function () {
          $(".sstar").css("color", "black")
          $("#ss1, #ss2, #ss3").css("color", "yellow");
        })
        $("#ss4").click(function () {
          $(".sstar").css("color", "black")
          $("#ss1, #ss2, #ss3, #ss4").css("color", "yellow");
        })
        $("#ss5").click(function () {
          $(".sstar").css("color", "black")
          $(".sstar").css("color", "yellow");
        })
      });


      function addone1() {
        var foo = parseInt(document.getElementById('thisone1').innerHTML);
        foo = foo + 1;
        document.getElementById('thisone1').innerHTML = foo;
      }

      function addone2() {
        var foo = parseInt(document.getElementById('thisone2').innerHTML);
        foo = foo + 1;
        document.getElementById('thisone2').innerHTML = foo;
      }

      function addone3() {
        var foo = parseInt(document.getElementById('thisone3').innerHTML);
        foo = foo + 1;
        document.getElementById('thisone3').innerHTML = foo;
      }

      function addone4() {
        var foo = parseInt(document.getElementById('thisone4').innerHTML);
        foo = foo + 1;
        document.getElementById('thisone4').innerHTML = foo;
      }

      function addone5() {
        var foo = parseInt(document.getElementById('thisone5').innerHTML);
        foo = foo + 1;
        document.getElementById('thisone5').innerHTML = foo;
      }

      function addone6() {
        var foo = parseInt(document.getElementById('thisone6').innerHTML);
        foo = foo + 1;
        document.getElementById('thisone6').innerHTML = foo;
      }
    });
  </script>
</body>