  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-1">
            <i class="fa fa-user" id="user-icon"></i>
          </div>
          <div class="column is-2" style="float: left">
            <p><strong>Phoenix22</strong></p>
            <img
              src="../../public/images/rating1.png"
              alt="rating"
              id="friend-rating"
            />
          </div>
          <div class="column is-6">
            <div class="card has-text-centered" id="friend-name">
              <strong>Phoenix22's Top Games</strong>
            </div>
          </div>
          <div class="column is-3">
            <div class="card has-text-centered" id="user-card">
              <div class="user-rep">
                <i class="fas fa-smile" id="smile-icon"></i>
                <span><strong>User Rep Score</strong></span>
              </div>
              <img
                src="../../public/images/rating1.png"
                alt="rating"
                id="user-rating"
              /><br />
              <i class="fas fa-skull"></i>
              <i class="fas fa-thumbs-up"></i>
              <i class="fas fa-smile-beam"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-2">
            <i class="fa fa-grin-squint-tears is-clickable"></i
            ><span><strong>Lol!</strong></span
            ><br />
            <i class="fa fa-bullseye is-clickable"></i><span><strong>Pro Gamer</strong></span
            ><br />
            <i class="fa fa-poop is-clickable"></i><span><strong>Cheater!</strong></span
            ><br />
            <i class="fa fa-wine-bottle is-clickable"></i><span><strong>G.U.I.</strong></span
            ><br />
            <i class="fa fa-moon is-clickable"></i><span><strong>Nightowl</strong></span
            ><br />
            <i class="fa fa-headphones is-clickable"></i><span><strong>Talker</strong></span
            ><br />
            <!-- <div class="buttons"> -->
            <button class="button is-link">Invite to Play!</button><br />
            <button class="button is-danger">Remove From List!</button>
            <!-- </div> -->
          </div>
          <div class="column is-7">
            <div class="columns is-mobile">
              <div class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">Component</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris.
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">Component</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris.
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">Component</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns is-mobile">
              <div class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">Component</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris.
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">Component</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris.
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-one-third">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">Component</p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">My Current Game</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <strong>Counter Strike: GO</strong><br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                </div>
              </div>
              <hr />
              <div class="card-content">
                <div class="content">
                  <strong>Invites Sent</strong><br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>