<body>
  {{!-- <figure class="image" id="co-go">
    <img class="is-rounded"
      src="https://zdnet3.cbsistatic.com/hub/i/2019/10/29/411e3be4-18b6-4480-94ef-cba0bbc6e3f4/csgo.png">
  </figure>
  <div class="hero-text">
    <h1 style="font-size: 85px">Game Page</h1>
  </div> --}}

  <div class="bgimg">
    <section class="section">
      <div class="column is-12">
        <div class="card has-text-centered" style="font-size: 25px;" id="game-title">
          <strong>Counter Strike: GO</strong>
        </div>
      </div>
  </div>
  </section>
  <div class="container">

    <section class="section">
      <div class="container">
        <div class="column is-12">
          <div class="card" id="onlinenow">
            <header class="card-header">
              <p class="card-header-title" style="font-size: 25px;">Online Now</p>
            </header>
            <div class="card-content">
              <div class="content is-clickable" style="font-size: 20px">
                <ul><strong>
                    <a href="./friend-page">
                      <li>Phoenix22</li>
                    </a>
                    <li>BIGGGUNZZZ</li>
                    <li>Slayerrr</li>
                  </strong>
                </ul>
              </div>
            </div>
            <br /><br />
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="column is-12">
        <div class="card" id="invite">
          <header class="card-header">
            <p class="card-header-title" style="font-size: 25px">Invites Sent</p>
          </header>
          <div class="card-content">
            <div class="content is-clickable" style="font-size: 20px">
              <ul><strong>
                  <li>Bob_Johnson82</li>
                  <li>Tommy864</li>
                  <li>MBPjason</li>
                </strong>
              </ul>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</body>
<script
  type="text/javascript">   $(document).ready(function () { $("#ph22").on("click" function () { res.render("friend-page"); }) });   </script>