<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3" id="user-icon-img">
          <i class="fa fa-user" id="user-icon"></i>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">

            </div>
            <div class="column">
              <img src="../images/logo.png" class="opaque mt-3">
            </div>
            <div class="column">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-success" type="text" placeholder="What games are you looking for?">
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="card has-text-centered" id="user-card">
            <div class="user-rep">
              <i class="fas fa-smile emoji" id="smile-icon"></i>
              <span><strong>User Rep Score</strong></span>
            </div>
            <img src="../images/rating1.png" alt="rating" id="user-rating" /><br />
            <i class="fas fa-skull emoji"></i>
            <i class="fas fa-thumbs-up emoji"></i>
            <i class="fas fa-smile-beam emoji"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">

      <div class="columns is-mobile">
        <div class="column">
          <p class="bd-notification is-danger">
          <article class="panel">
            <p class="panel-heading">
              Friends
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-success" type="text" placeholder="Search">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="has-text-white">
                Tommy864
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="has-text-white">
                Bob_Johnson82
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="has-text-white">
                BIGGGUNZZZ
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="has-text-white">
                Slayerrr
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
          </article>
          </p>
        </div>

        <div class="column is-half">
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Component
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Component
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Component
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Component
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Component
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Component
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
             


        <div class="column is-3">
          <article class="panel is-danger">
  <p class="panel-heading">
    Current Game
  </p>
<h4 class="has-text-danger">Invites Accepted</h4>
  <div class="panel-block">

  </div>
  <a class="panel-block is-active has-text-danger">
    <span class="panel-icon">
      <i class="fas" aria-hidden="true"></i>
    </span>
   Slayerrr
  </a>
  <a class="panel-block  has-text-danger">
    <span class="panel-icon">
      <i class="fas" aria-hidden="true"></i>
    </span>
    BIGGGUNZZZ
  </a>
  <p class="panel-heading">
    Invites Sent
  </p>
  <a class="panel-block has-text-white">
    <span class="panel-icon">
      <i class="fas" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
  <a class="panel-block has-text-white">
    <span class="panel-icon">
      <i class="fas" aria-hidden="true"></i>
    </span>
    jgthms.github.io
  </a>
</article>
          {{!-- <p class="bd-notification opaque is-danger">
          <article class="panel">
            <p class="panel-heading">
              Current Game
            </p>
            <h3 class="has-text-white">Counter Strike: GO</h3>
            <h5 class="has-text-white">Invites Accepted</h5>
            <div class="panel-block">
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="has-text-white">
                Tommy864
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
                      <p class="bd-notification opaque is-danger">
          <article class="panel">
            <p class="panel-heading">
              Current Game
            </p>
            <h3 class="has-text-white">Counter Strike: GO</h3>
            <h5 class="has-text-white">Invites Sent</h5>
            <div class="panel-block">
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="has-text-white">
                Slayerrr
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
             --}}
        {{!-- <div class="column is-3">
          <div class="card opaque">
            <header class="card-header">
              <p class="card-header-title">
                My Current Game
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <strong>Counter Strike: GO</strong><br><br>
                <ul>
                  <li class="has-text-white">Bob_Johnson82</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="card-content">
              <div class="content">
                <strong>Invites Sent</strong><br><br>
                <ul>
                  <li class="input has-text-white">Slayerrr</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> --}}


    </div>
  </section>
</body>