<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3" id="user-icon-img">
          <img src="../images/steam-icon.jpg" alt="user-icon" id="steam-icon"></br>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">

            </div>
            <div class="column">
              <img src="../images/logo.png" class="logo opaque mt-3">
            </div>
            <div class="column">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-success" type="text" placeholder="What games are you looking for?">
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="card has-text-centered" id="user-card">
            <div class="user-rep">
              <i class="fas fa-smile emoji" id="smile-icon"></i>
              <span><strong>My Rep Score</strong></span>
            </div>
            <i class="fas fa-star is-clickable is-focused" id="s1"></i>
            <i class="fas fa-star is-clickable is-focused" id="s2"></i>
            <i class="fas fa-star is-clickable is-focused" id="s3"></i>
            <i class="fas fa-star is-clickable is-focused" id="s4"></i>
            <i class="fas fa-star is-clickable is-focused" id="s5"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">

      <div class="columns is-mobile">
        <div class="column">
          <p class="bd-notification is-danger">
          <article class="panel">
            <p class="panel-heading">
              Friends <a
                href="http://api.steampowered.com/ISteamUser/GetFriendList/v0001/?keyD94580D5312585B718FA616F6F1CB4F0=&steamid45627849837465781=&relationship=friend"><img
                  src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"></a>
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-success" type="text" placeholder="Search">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>{{friendData}}Tommy864</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>{{friendData}}</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>BIGGGUNZZZ</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Slayerrr</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Invite
                </a>
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
          </article>
          </p>
        </div>

        <div class="column is-half">
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Game
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Game
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque">
                <header class="card-header">
                  <p class="card-header-title">
                    Game
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="column is-3 solid">
          <article class="panel is-danger">
            <p class="panel-heading">
              Current Game
            </p>
            <h2 class="has-text-white">Invites Accepted</h2>
            <div class="panel-block">

            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Tommy864</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>{{user}}</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <h2 class="has-text-white">Invites Accepted</h2>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Slayerrr</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>{{friendData}}Bob_Johnson82</strong>
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Rate
                </a>
                <a class="navbar-item">
                  Games
                </a>
                <hr class="navbar-divider">
              </div>
            </div>
          </article>
        </div>
  </section>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#s1").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1").css("color", "yellow");
      })
      $("#s2").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2").css("color", "yellow");
      })
      $("#s3").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2, #s3").css("color", "yellow");
      })
      $("#s4").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2, #s3, #s4").css("color", "yellow");
      })
      $("#s5").click(function () {
        $(".fa-star").css("color", "black")
        $(".fa-star").css("color", "yellow");
      })
    });


  </script>
</body>