<body>
  <div class="bg-img">
    <section class="section">
      <div class="container logo">
        <h1 class="center-text">Welcome, Gamer</h1>
        <h3 class="center-text" id="period">.</h3>
        <div class="columns">
          <div class="column"></div>
          <div class="column"></div>
          <div class="column">
<div class="columns">
    <section>
        <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
        <form class="signup" action="">
            <div class="column">
                <label for="testUsername" class="signup">Username</label>
                <input type="username" name="username" placeholder="Username" id="username-input">
            </div>
            <div class="column">
                <label for="testUserPassword" class="ml-1 signup">Password</label>
                <input type="password" name="password" placeholder="Password" id="password-input">
            </div>
            <button type="submit">Sign Up</button>
            <p class="signup">Or Log in <a href="/login">here</a></p>
        </form>
        <br>
    </section>
</div>
          </div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
      </div>
    </section>
  </div>
</body>

{{!-- <div>
    <section>
        <h2>Sign Up Form</h2>
        <form class="signup" action="">
            <div>
                <label for="testUsername">Username</label>
                <input type="username" name="username" placeholder="Username" id="username-input">
            </div>
            <div>
                <label for="testUserPassword">Password</label>
                <input type="password" name="password" placeholder="Password" id="password-input">
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <br>
        <p>Or Log in <a href="/login">here</a></p>
    </section>
</div> --}}

<script>
    const signUpForm = $("form.signup");
    const usernameInput = $("input#username-input");
    const passwordInput = $("input#password-input");

    signUpForm.on("submit", function (event) {
        event.preventDefault();
        const userData = {
            username: usernameInput.val().trim(),
            password: passwordInput.val().trim()
        };

        if (!userData.username || !userData.password) {
            return;
        }

        signUpUser(userData.username, userData.password);
        usernameInput.val("");
        passwordInput.val("");
    });

    function signUpUser(username, password) {
        $.post("/api/signup", {
            username: username,
            password: password
        })
            .then(function (data) {
                window.location.replace("/allUsers");
            })
            .catch(function (err) {
                console.log(err);
            })
    }
</script>