<body>
  <div class="bg-img">
    <section class="section logo">
      <div class="container">
        <h1 class="center-text">Welcome, Gamer</h1>
        <h3 class="center-text">.</h3>
        <div class="columns">
          <div class="column"></div>
          <div class="column"></div>
          <div class="column">
            <input type="image" src="../images/sits_01.png" name="steam" class="steamBtn ml-5" id="steamBtn" />
          </div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
      </div>
    </section>
  </div>
</body>