<body>
  <div class="bg-img">
    <section class="section">
      <div class="container logo">
        <h1 class="center-text">Welcome, Gamer</h1>
        <h3 class="center-text">.</h3>
        <div class="columns">
          <div class="column"></div>
          <div class="column"></div>
          <div class="column">
            <a class="ml-6" href="/auth/steam"><img
                src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"></a>
          </div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
      </div>
    </section>
  </div>
</body>