<div>
    <section>
        <ul>
            {{#each user}}
            {{#dataValues}}
            <li>
                {{{id}}}. {{{user_name}}}
                <button class="friendMe" data-friend={{{id}}}>Friend Me</button>
                <button class="gameInvite" data-game={{{id}}}>Game Invite</button>
            </li>
            {{/dataValues}}
            {{/each}}
        </ul>
    </section>
    <section>
        <button class="logout"><a href="/logout">Log Out</a></button>
        <button class="game-invites"><a href="/GameInvites">game-invites</a></button>
        <button class="incoming-friends"><a href="/IncomingFriends">Incoming Friends</a></button>
        <button class="incoming-friends"><a href="/Friends">Friends List</a></button>
    </section>
</div>

<script>
    console.log("hello world");
    $(".friendMe").on("click", function (event) {
        event.preventDefault();
        console.log("friend me clicked");
        const id = $(this).data("friend");
        const potentialFriend = {
            requesteeId: $(this).data("friend"),
        };

        $.ajax("/api/sendFriendInvite/", {
            type: "POST",
            data: potentialFriend,
        }).then(function() {
            console.log("sent friend request");
            {{!-- location.reload(); --}}
        });
    });

    $(".gameInvite").on("click", function (event) {
        event.preventDefault();
        console.log("Game Invite clicked");
        const id = $(this).data("game");
        const gameInvite = {
            requesteeId: $(this).data("game"),
        };

        $.ajax("/api/sendGameInvite/", {
            type: "POST",
            data: gameInvite,
        }).then(function() {
            console.log("sent game invite");
            {{!-- location.reload(); --}}
        });
    });
</script>