<div>
    <section>
        <ul>
            {{#each user}}
            {{#dataValues}}
            <li>
                {{{id}}}. {{{user_name}}}
                <button class="accept" data-friend={{{id}}}>Accept</button>
                <button class="reject" data-reject={{{id}}}>Reject</button>
            </li>
            {{/dataValues}}
            {{/each}}
        </ul>
    </section>
    <section>
        <button class="logout"><a href="/logout">Log Out</a></button>
        <button class="game-invites"><a href="/GameInvites">game-invites</a></button>
        <button class="incoming-friends"><a href="/IncomingFriends">Incoming Friends</a></button>
        <button class="incoming-friends"><a href="/Friends">Friends List</a></button>
    </section>
</div>

<script>
    console.log("incoming friends");
    $(".accept").on("click", function (event) {
        event.preventDefault();
        console.log("friend me clicked");
        const id = $(this).data("friend");
        const acceptedFriend = {
            newFriendId: $(this).data("friend"),
        };

        $.ajax("/api/IncomingFriends", {
            type: "POST",
            data: acceptedFriend,
        }).then(function() {
            console.log("sent friend request");
            {{!-- location.reload(); --}}
        });
    });

    $(".reject").on("click", function (event) {
        event.preventDefault();
        console.log("Game Invite clicked");
        const id = $(this).data("reject");
        const rejectedUser = {
            rejectFriendId: $(this).data("reject"),
        };

        $.ajax("/api/IncomingFriends", {
            type: "DELETE",
            data: rejectedUser,
        }).then(function() {
            console.log("sent game invite");
            {{!-- location.reload(); --}}
        });
    });
</script>