<div>
    <section>
        <ul>
            {{#each user}}
            {{#dataValues}}
            <li>
                {{{id}}}. {{{user_name}}}
                <button class="accept" data-yes={{{id}}}>Accept</button>
                <button class="reject" data-no={{{id}}}>Reject</button>
            </li>
            {{/dataValues}}
            {{/each}}
        </ul>
    </section>
    <section>
        <button class="logout"><a href="/logout">Log Out</a></button>
        <button class="game-invites"><a href="/GameInvites">game-invites</a></button>
        <button class="incoming-friends"><a href="/IncomingFriends">Incoming Friends</a></button>
        <button class="incoming-friends"><a href="/Friends">Friends List</a></button>
    </section>
</div>

<script>
    console.log("incoming game invites...");
    $(".accept").on("click", function (event) {
        event.preventDefault();
        console.log("Accepted Game clicked");
        const id = $(this).data("yes");
        const acceptedGame = {
            acceptedId: $(this).data("yes"),
        };

        $.ajax("/api/GameInvites", {
            type: "POST",
            data: acceptedGame,
        }).then(function() {
            console.log("game invite accepted");
            {{!-- location.reload(); --}}
        });
    });

    $(".reject").on("click", function (event) {
        event.preventDefault();
        console.log("Reject Game Invite clicked");
        const id = $(this).data("no");
        const rejectedGame = {
            rejectedId: $(this).data("no"),
        };

        $.ajax("/api/GameInvites", {
            type: "POST",
            data: rejectedGame,
        }).then(function() {
            console.log("sent game invite");
            {{!-- location.reload(); --}}
        });
    });
</script>