<div>
    <section>
        <ul>
            {{#each user}}
            {{#dataValues}}
            <li>
                {{{id}}}. {{{user_name}}}
                <button class="friendMe" data-friend="{{{id}}}">Friend Me</button>
                <button class="gameInvite" data-game="{{{id}}}">Game Invite</button>
            </li>
            {{/dataValues}}
            {{/each}}
        </ul>
    </section>
</div>
