.center-text {
    text-align: center;
    margin: 80px;
    font-size: 60px;
    font-family: 'Audiowide', cursive;
    color: #49f308;
}
.bg-img { 
    background-image: url("../images/background.png");
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.section {
    background-image: url("../images/logo.png");
    opacity: 0.65;
    background-repeat: no-repeat;
    background-position: center center;
}